.listBoxContainer {
  margin-top: 30px;
  width: 807px;
  height: 568px;
  border-radius: 22px;
  border: 1px solid black;
}
.header {
  margin: 0 25px;
  width: auto;
  height: 50px;
  border-bottom: 1px solid black;
}
.header span {
  display: inline-block;
  text-align: center;
  line-height: 3.5rem;
  height: 100%;
}
.header span:nth-child(1) {
  width: 10%;
}
.header span:nth-child(2) {
  width: 25%;
}
.header span:nth-child(3) {
  width: 30%;
}
.header span:nth-child(4) {
  width: 25%;
}
.header span:nth-child(5) {
  width: 10%;
}